body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dadada;
    color: rgb(56, 55, 55);
}

.boxx {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box {
    width: 40px;
    height: 40px;
    background-color: rgb(56, 55, 55);
    border-radius: 40px;
    cursor: pointer;
    color: transparent;
    position: relative;
    transition: 3s;
    
    
}

.box::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #358ae0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 2s;
}


.box:hover {
    border: 2px solid #358ae0;
    width: 140px;
    height: 40px;
    color: #dadada;
    font-weight: 700;
    font-size: 15px;
    left: 0;
    transition: 2s;

}

.box:hover::after{
    width: 100%;

}

.logo{
    height: 4rem;
}

.log{
    font-size: larger;
    font-weight: bolder;
}

ul{
    list-style: none;
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    gap: 3rem;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: -4rem;
}



.body{
    display: flex;
    justify-content: center;
    gap: -40px;
    align-items: center;
    text-align: center;
}

.hero{
    height: 850px;
}

h1 {
    font-size: 40px;
    color: #358ae0;
    font-weight: bolder;
}

h2{
    font-size: 30px;
}

.h2{
    font-weight: 550;
}

.CTA_btn{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.CTA1{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: transparent;
    border-color: rgb(56, 55, 55);
    transition: 2s;
}

.CTA1:hover{
    background-color: rgb(56, 55, 55);
    border-color: rgb(56, 55, 55);
    transition: 2s;
}

.CTA2{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: rgb(56, 55, 55);
    border-color: transparent;
}

a{
    text-decoration: none;
}

.CTA1 a{
    color: rgb(56, 55, 55);
    font-weight: bold;
    font-size: larger;
    transition: 2s;
}

.CTA1 a:hover{
    color: #dadada !important;
    transition: 1s;
}

.CTA2 a{
    color: #dadada;
    font-weight: bold;
    font-size: larger;
}

li{
    cursor: pointer;
    position: relative;
}

.small_links{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}


.small_links a img{
    width: 40px;
}


li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #358ae0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

li:hover::after{
    width: 100%;
}









.about_section h2 {
    display: flex;
    justify-content: center;
    margin: 0px;
    font-size: large;
}

.about_section h1{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.about_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
}

.about_image{
    flex-basis: 30%;
}

.about_image img{
    width: 100%;
    border-radius: 20px;
}

.about_text{
    flex-basis: 70%;
}

.about_text  p{
    font-size: larger;
}

button img{
    height: 50px;
    margin-top: 20px;
}

button p{
    font-size: large;
    line-height: 10px;
}

.about_btn{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.experience{
    width: 500px;
    border-radius: 40px;
    border-color: rgb(56, 55, 55);
    background-color: transparent;
    color: rgb(56, 55, 55);
}

.education{
    width: 500px;
    border-radius: 40px;
    border-color: rgb(56, 55, 55);
    background-color: transparent;
    color: rgb(56, 55, 55);
}

.tabs{
    display: flex;
    gap: 30px;
    margin-left: 30px;
}

.tabs p{
    font-weight: bold;
}

.tab-links{
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #358ae0;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 3s;
}

.tab-links.active_links::after{
    width: 50%;
}

.tabs_contents ul li span{
    color: #358ae0;
}

.tabs_contents {
    display: none;
}

.tabs_contents ul li{
    margin-bottom: 10px;
}

span{
    line-height: 40px !important;
    font-weight: bold;
}

.tabs_contents.active_tab{
    display: block;
}

.tabs_contents.active_tab ul{
    display: inline-block;
    font-size: medium;
    justify-content: space-around;
    font-weight: 550;
}

.tabs_contents.active_tab ul li{
    cursor: auto;
}

.tabs_contents.active_tab ul li:hover::after{
    width: 0px;
}

.about_container1{
    height: 1080px;
    margin-top: 60px;
}

.experience_btn{
    display: flex;
    justify-content: center;
    gap: 90px;
}

.experience_btn button{
    width: 800px;
    border-radius: 40px;
    height: 500px;
    background-color: #dadada;
    border-color: rgb(56, 55, 55);
    transition: 3s;
}

.evaluation{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.left div{
    display: flex;
    gap: 20px;
    align-items: center;
}

.right div{
    display: flex;
    gap: 20px;
    align-items: center;
}

.right div img{
    height: 30px;

}

.left div img{
    height: 30px;

}

.right div p{
    display: inline-block !important;

}

.about_section{
    margin-bottom: 150px;
}

.experience_btn button:hover{
    width: 850px;
    border-radius: 40px;
    height: 500px;
    border-color: #358ae0;
    transition: 5s;
}

.experience_section{
    height: 1000px;
}

.project {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.buttons{
    border-color: rgb(56, 55, 55);
    border: 2px solid;
    width: 400px;
    height: 550px;
    align-items: center;
    align-content: center;
    border-radius: 20px;
    transition: 1s;
}

.buttons:hover{
    height: 560px;
    width: 430px;
    border-color: #358ae0;
    transform: translateY(4rem);
}


.button{
    margin-left: 5%;
    margin-right: 5%;
}
.buttons img{
    width: 100%;
    border-radius: 5%;
}

.button p{
    font-size: 180%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.button div{
    display: flex;
    justify-content: center;
    gap: 10%;
}

.button div button{
    height: 40px;
    width: 90px;
    border-radius: 30px;
    border: 2px solid;
    border-color: rgb(56, 55, 55);
    background-color: transparent;
    color: rgb(56, 55, 55);
    margin-top: -4%;
    transition: 1s;
}

.button div button:hover{
    border-color: rgb(56, 55, 55);
    background-color: rgb(56, 55, 55);
    color: #dadada !important;
    transition: 3s;
}

.button div button a{
    color: rgb(56, 55, 55);
    font-weight: bold;
}

.button div button a:hover{
    color: #bbbbbb;
    font-weight: bold;
}




.Service_Section{
    margin-top: 10rem;
    height: 55rem;
}

.serv-btn{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.serv-btn button{
    height: 29rem;
    width: 28rem;
    border-radius: 1rem;
    border: 2px solid;
    border-color: rgb(56, 55, 55);
    background: #dadada;
    transition: 1s;
    align-content: center;
    align-items: center;
}

.serv-btn button:hover{
    height: 30rem;
    width: 29rem;
    border-radius: 1rem;
    border: 2px solid;
    border-color: #358ae0;
    background: #358ae0;
    color: #dadada;
    transition: 2s;
}


.serv-btn button img{
    display: flex;
    margin-left: 2rem;
}

.serv-btn button h2{
    display: flex;
    margin-left: 2rem;
}

.serv-btn button p{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: 1rem;
}

.serv-btn button a{
    font-size: 1rem;
    color: rgb(56, 55, 55);
    font-weight: bold;
}





.Contact_Section{
    display: flex;
    justify-content: center;
}

.contact-left{
    margin-left: 4rem;
    font-size: 1.5rem;
    justify-items: left;
    width: 60%;
    margin-top: -2.5rem;
}

.contact-left h1{
    font-size: 5rem !important;
    margin-bottom: 0rem;
}

.contact-left div img{
    height: 2rem;
}

.contact-left div{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 1rem;
}

.contact-left .link{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 2rem;
}

.contact-left .link a img{
    transition: transform 1s;
    margin-top: 2rem;
}

.contact-left .link a img:hover{
    color: #358ae0;
    transform: translateY(-1rem);
}

.contact-left a Button{
    height: 4rem;
    width: 14rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(56, 55, 55);
    border-radius: 0.5rem;
    background-color: #dadada;
    margin-top: 4rem;
    border: 2px solid;
    transition: 1s;
}

.contact-left a Button:hover{
    color: #dadada;
    background-color: #358ae0;
    border-color: #358ae0;
    border: 2px solid;
    transition: 2s;
}

.contact-right{
    justify-content: center;
    width: 80%;
    margin-right: 6rem !important;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #bbbbbb;
    color: #4e4e4e;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.bb{
    height: 4rem;
    width: 14rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(56, 55, 55);
    border-radius: 0.5rem;
    background-color: #dadada;
    margin-top: 4rem;
    border: 2px solid;
    transition: 1s;
}

.bb:hover{
    color: #dadada;
    background-color: #358ae0;
    border-color: #358ae0;
    border: 2px solid;
    transition: 2s;
}

.DM{
    display: flex;
    gap: 4rem;
    margin-top: 1rem;
}


.tab-messages{
    cursor: pointer;
    position: relative;
    font-weight: bold;
}

.tab-messages::after{
    content: '';
    width: 0;
    height: 3px;
    background: #358ae0;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 1s;
}

.tab-messages.active_hire::after{
    width: 50%;
}

.tab-contacts {
    display: none;
}

.tab-contacts.active_message {
    display: inline-block;
}


.copyright{
    margin-top: 4rem;
    height: 6rem;
    background-color: #bbbbbb;
    width: 100%;
}

.copyright .boxxx{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
}

.boxxx p{
    font-weight: normal;
    font-size: large;
}